{% extends 'base.html' %}

{% block title %} 
  Home 
{% endblock %}

{% block content %}
  <div class="jumbotron">
      <h1 style="text-align: center">Welcome to Student Housing!</h1>
  </div>
  
  <div class="content container">
    <h2>Available Listings:</h2>
    {% if all_listings %}
    <ul>
      {% for listing in all_listings %}
        <li><a href="listing/{{ listing.id }}/">{{ listing.title }}</a></li>
      {% endfor %}
        </ul>
    {% else %}
      <h3>No current listings.</h3>
    {% endif %}
  </div>
{% endblock %}