<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>

    <h1>Listing {{ listing.id }}</h1>
    <h2>{{ listing.title }}</h2>
      <ul>
          <li>Address: {{ listing.address }}</li>
          <li>Residence Type: {{ listing.residence_type }}</li>
          <li>Bedrooms: {{ listing.num_of_bedrooms }}</li>
          <li>Bathrooms: {{ listing.num_of_bathrooms }}</li>
          <li>Price: {{ listing.price }}</li>
          <li>Square footage: {{ listing.sqft }}</li>
      </ul>


  </body>
</html>